$margin_top: 5vw;

body {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    margin-top: $margin_top;
}

.top {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    width: 100%;                   
}

.content {
    max-width: 60%; 
    margin-left: 3vw;  

    h1{
        span{
            
            a{
                color: red;
                text-decoration: none;
                transition: color 0.3s;
                position: relative;
                background: radial-gradient(
                    circle at 100%,
                    #b2a8fd,
                    #8678f9 50%,
                    #c7d2fe 75%,
                    #9a8dfd 75%
                );
                font-weight: 600;
                background-size: 200% auto;
                color: #000;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: animatedTextGradient 1.5s linear infinite;
                }

                @keyframes animatedTextGradient {
                to {
                    background-position: 200% center;
                }
            }
            a::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                display: block;
                width: 0;
                height: 1.9px;
                background: #000;
                transition: 0.3s;
            }
            
            a:hover::after{
                width: 100%;
            }
        }
    }
}

.img-hero {
    width: 30vw;     
    height: auto;
    border-radius: 5px 50px 30px;
    margin-right: 3vw;  
}
